---
注册邮箱验证
---
<div class="wrapper">
	<div class="mail-header"><img src="https://{{DOMAIN}}/common/res/logo/line.white.png?action=register&mail={{to}}"
			style="height: 1em; max-width: 5em; aspect-ratio: auto;" />
		<div>注册邮箱确认</div>
	</div>
	<div class="mail-body next-level">
		<div style="display: block;">
			<h2>欢迎加入一生一芯!</h2>
			<p>请点击下方按钮完成注册, 预祝您在一生一芯项目中有所收获!</p>
		</div>
		<div style="margin-bottom: 0.6rem;">
			<a class="button" href="http://{{DOMAIN}}{{link}}">完成注册</a>
		</div>
		<div style="margin-top: 0.5rem;">
			<a style="color: #888; font-size: 0.8em;" href="http://{{DOMAIN}}{{link}}">http://{{DOMAIN}}{{link}}</a>
		</div>
		<div class="next-level" style="color: #888; font-size: 0.8em; display: block;">
			<p><b>我为什么会收到这封邮件？</b></p>
			<p>该邮件是“一生一芯”账号注册的确认邮件，如果您近期没有注册“一生一芯”账号的行为，请直接忽略该邮件。</p>
		</div>
	</div>
</div>