---
注册邮箱验证
---
<div class="mail-body" style="width: 100%; padding: 2em">
    <div class="next-level">
        <div style="width: 100%; flex-direction: row; justify-content: flex-start;">
            <img src="https://ysyx.org/res/logo/YSYX.png" style="height: 2em;">
            <span>欢迎加入一生一芯</span>
        </div>
        <div style="flex-direction: column;">
            <span style="font-size: 1.3em;">请点击下方按钮完成注册</span>
        </div>
        <div>
            <a class="button" href="{{link}}">完成注册</a>
            <a style="color: #888; font-size: 0.8em;" href="{{link}}">{{link}}</a>
        </div>
        <div class="next-level" style="color: #888; font-size: 0.8em; display: block;">
            <span style="font-weight: bold;">我为什么会收到这封邮件？</span>
            <span>该邮件是“一生一芯”账号注册的确认邮件，如果您近期没有注册“一生一芯”账号的行为，请直接忽略该邮件。</span>
        </div>
    </div>
</div>